<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
      <article role="main" class="blog-post">
          {{ .Content }}
      </article>

      <ul class="pager blog-pager">
        {{ if .PrevInSection }}
        <li class="previous">
          <a href="{{ .PrevInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .PrevInSection.Title }}">&larr; Post Pr&eacute;c&eacute;dent</a>
        </li>
        {{ end }}
        {{ if .NextInSection }}
        <li class="next">
          <a href="{{ .NextInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .NextInSection.Title }}">Post Suivant &rarr;</a>
        </li>
        {{ end }}
      </ul>

      {{ if .Site.Params.DiscourseUrl }}
      <div id='discourse-comments'></div>
      
      <script type="text/javascript">
        DiscourseEmbed = { discourseUrl: '{{ .Site.Params.DiscourseUrl }}',
                           topicId: {{ .Params.discourse_id }} };
      
        (function() {
          var d = document.createElement('script'); d.type = 'text/javascript'; d.async = true;
          d.src = DiscourseEmbed.discourseUrl + 'javascripts/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(d);
        })();
      </script>
      {{ end }}

    </div>
  </div>
</div>
